// Grid

//Container
.container {
  @media (max-width: 768px) {
    @apply px-[2.4rem];
  }
  @media (min-width: 768px) {
    @apply md:px-[5.6rem] lg:px-[3.2rem] 2xl:px-0;
  }
}

//Row
.row {
  @media (max-width: 768px) {
    @apply flex-col;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    @apply flex-wrap;
  }
  @media (min-width: 1024px) {
    @apply flex-nowrap;
  }
}

// Atoms
/*-----------------------------------*/

// Molecules
/*-----------------------------------*/

// Captions
.caption {
  @media (max-width: 576px) {
    & div {
      & p {
        @apply text-[1.6rem];
      }
    }

    & h3 {
      @apply text-[3.2rem];
    }

    & p {
      @apply text-[2rem];
    }

    & button {
      @apply hidden;
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    & div {
      & p {
        @apply text-[1.6rem];
      }
    }

    & h3 {
      @apply text-[4.8rem];
    }

    & p {
      @apply text-[2.4rem];
    }

    & button {
      @apply hidden;
    }
  }
}

// Sections
.section {
  @media (max-width: 768px) {
    @apply flex-col my-[12.8rem] gap-y-[4rem];

    &-text {
      @apply w-full;
    }

    &-media {
      @apply w-full;
    }
  }
}

// Organisms
/*-----------------------------------*/

// Testimonials
.testimonials {
  @media (max-width: 576px) {
    & .caption {
      @apply w-full;
    }

    .hs {
      &-carousel {
        @apply w-full h-[48rem];
        //
        &-body {
          transform: none !important;
        }

        //
        &-slide {
          top: 0 !important;
        }
      }
    }
  }

  //
  @media (min-width: 576px) and (max-width: 768px) {
    & .caption {
      @apply w-full;
    }

    & .hs {
      &-carousel {
        @apply w-full mt-[2rem] mb-[4rem];
      }
    }

    &-content {
      & blockquote {
        @apply text-[2.4rem];
      }
    }
  }
}

//What We Do
.wwd {
  @media (max-width: 576px) {
    @apply mb-[18rem];
    //
    & .row {
      @apply gap-y-[4rem];
    }

    & .caption {
      & h3 {
        @apply w-full text-[3.2rem];
      }
    }
  }

  //
  @media (min-width: 576px) and (max-width: 768px) {
    //
    & .row {
      @apply gap-y-[4rem];
    }

    & .caption {
      & h3 {
        @apply w-full;
      }
    }

    //
    &-card {
      width: calc(100% - 1.6rem);
    }

    //
    &-content {
      & h4 {
        @apply text-[2.8rem];
      }

      & p {
        @apply text-[2.4rem];
      }
    }
  }

  //
  @media (min-width: 769px) and (max-width: 1024px) {
    &-card {
      width: calc(50% - 1.6rem);
      @apply mb-[3.2rem];
    }
  }
}

// Navbar
.navbar {
}

// Footer
.footer {
  @media (max-width: 768px) {
    & .row {
      @apply gap-y-[6.4rem];
    }
    //
    &-logo {
      @apply hidden h-[24rem] w-[24rem];

      & svg {
        @apply h-[24rem] w-[24rem];
      }
    }
    //
    &-links,
    &-contact,
    &-address,
    &-newsletter {
      @apply w-full;
      //
      & h5 {
        @apply text-[2.4rem];
      }

      & ul {
        & li {
          & a {
            @apply text-[2rem];
          }
        }
      }
    }

    &-newsletter {
      @media (max-width: 768px) {
        & form {
          & p {
            @apply text-[2rem];
          }
        }

        & h5 {
          &:last-of-type {
            @apply mt-[6.4rem];
          }
        }
      }
    }

    //
    &-address {
      //
      & div {
        //
        @apply mb-[2.4rem];
        //
        & p,
        & address {
          @apply text-[2rem];
        }
      }
      //
      & h5 {
        &:last-of-type {
          @apply mb-[2.4rem];
        }
      }
    }

    &-copyright {
      @apply text-[2rem] text-left;
    }
  }
}

// Pages
/*-----------------------------------*/
// Landing Page and Components
.landing {
  //
  @media (max-width: 768px) {
    //

    &-text {
      @apply w-full;

      & h1 {
        @apply text-[7.2rem] w-full mb-[2.4rem] text-left;
      }

      & h4 {
        @apply text-[3.2rem] mb-[1.6rem] text-left;
      }

      & img {
        @apply w-full mb-[4rem];
      }

      & button {
        @apply hidden;
      }
    }

    &-image {
      @apply hidden;
    }

    &-about {
      & section {
        @apply flex-col-reverse;
      }
    }
  }

  @media (max-width: 480px) {
    &-text {
      & h1 {
        @apply text-[4.8rem];
      }

      & h4 {
        @apply text-[2rem];
      }
    }
  }

  //
  @media (min-width: 768px) and (max-width: 1024px) {
    &-header {
      &-content {
        @apply mt-0 px-[5.6rem] pb-[8rem];

        & h1 {
          @apply text-[6.4rem];
        }

        & h4 {
          @apply text-[2.4rem] mb-[1.6rem] w-4/6;
        }

        & ul {
          @apply mt-[1.6rem];
        }
      }
    }
  }

  //
  @media (min-width: 1024px) and (max-width: 1280px) {
    &-header {
      //
      &-content {
        @apply h-[64rem];

        //
        & h4 {
          @apply w-[75%];
        }
      }

      //

      &-image {
        & img {
          &:first-of-type {
            @apply block;
          }

          &:last-of-type {
            @apply hidden;
          }
        }
      }
    }
    //
  }
}

// About Us Page
.about {
  @media (max-width: 768px) {
    &-header {
      @apply mb-[8rem];
      //
      &-main {
        @apply flex-col justify-center h-full;
        //
        & .caption {
          @apply relative top-[unset] left-[unset] w-full px-0;
        }
      }

      &-text {
        @apply relative right-[unset] top-[unset];
      }

      &-image {
        @apply hidden;

        & img {
          @apply w-full;
        }
      }
    }
  }
}

// Services Page
.services {
  @media (max-width: 768px) {
    &-header {
      @apply mb-[0rem];

      //
      &-main {
        @apply flex-col justify-center h-full;
      }
      //
      & .caption {
        @apply pt-[8rem] mb-[4rem] relative  top-[unset] left-[unset];
      }

      &-image {
        @apply hidden;
      }
    }

    &-section {
      //
      @apply my-[8rem];
      //
      & .row {
        @apply flex-col;
      }

      &-text,
      &-image {
        @apply w-full;
      }

      &-image {
        @apply mb-[4rem];

        & img {
          @apply w-full;
        }
      }
    }
  }
}

// Contact Us
.contact {
  @media (max-width: 768px) {
    &-header {
      //
      & .caption {
        @apply w-full;
      }
    }

    &-form {
      @apply w-full;

      & div[aria-label='form-group'] {
        @apply space-y-[1.6rem];
      }
    }
  }
}

// Blog Page and Components
.blog {
  @media (max-width: 480px) {
    &-landing {
      &-card {
        &--details {
          @apply hidden;
        }
      }
    }
  }

  //
  @media (max-width: 768px) {
    &-landing {
      & header {
        & ul {
          @apply mt-[2.4rem];
        }
      }
      //
      &-card {
        @apply w-full;

        &--author,
        &--date {
          @apply flex items-center gap-x-[.8rem];
          & p {
            @apply text-[1.6rem];
          }
          //
          & svg {
            // @apply;
          }
        }

        & figcaption {
          & h5 {
            @apply text-[2.4rem];
          }

          & p {
            @apply text-[2rem];
          }
        }
      }

      & .hs-carousel {
        &-body {
          transform: none !important;
        }

        &-slide {
          top: 0 !important;
        }
      }
    }
  }
}
